.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.App h1, .App__home h1 {
  font-size: 3rem;
  font-weight: 1000;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(92, 164, 209);
}

.App input {
  display: block;
  padding: 10px;
  margin: 5px 0;
  font-size: 1rem;
}

.App input:focus {
  outline: 2px solid rgb(86, 155, 197);
}

.App button {
  background-image: linear-gradient(to right, rgb(86, 155, 197), rgb(51, 93, 119));
  border: none;
  width: 100%;
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 50px;
  font-weight: 600;
  color: whitesmoke;
  cursor: pointer;
}

.App a {
  color: rgb(92, 164, 209);
  text-decoration: none;
}

.App a:hover {
  text-decoration: underline;
}

.App__home {
  text-align: center;
  margin: auto;
}

.App__home img {
  border-radius: 10px;
}

.App__home p {
  text-align: justify;
  margin: 40px;
}

.App__home .link {
  display: block;
  background: #4eaac4;
  padding: 20px;
  max-width: 200px;
  margin: 20px auto;
  border-radius: 4px;
  text-decoration: none;
  color: #282c34;
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
